<section class="ui raised segment">

    <div class="ui grid">
        <div class="four column row">
            <div class=" column">
                <i class = "huge user icon"></i>
            </div>
            <div class=" column">
                <i class="{{colour}} huge tachometer alternate icon" ></i>
                    {{idealweight}}
                {{difference}}
            </div>

            <div class="column">
                <i class = "huge heartbeat icon"></i>
            </div>
            <div class=" column">
                <i class = "huge doctor icon"></i>
            </div>
        </div>

        <div class="four column row">
            <div class="column">
                <h2>{{loggedInUserFirstname}} {{loggedInUserLastname}}</h2>
            </div>
            <div class=" column">
                <h2>Ideal weight indicator</h2>
            </div>
            <div class=" column">
                <h2>{{BMI}} BMI</h2>
            </div>
            <div class=" column">
                <h2>{{BMICategory}}</h2>
            </div>
        </div>

    </div>

</section>