<table class="ui table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>upper arm</th>
        <th>waist</th>
        <th>hips</th>
        <th>trend</th>
        <th>comment</th>
    </tr>
    </thead>
<tbody>

{{#each assessmentlists}}

         <tr>
                    <td>
                        {{date}}
                    </td>
                    <td>
                        {{weight}}
                    </td>
                    <td>
                        {{chest}}
                    </td>
                    <td>
                        {{thigh}}
                    </td>
                    <td>
                        {{upperarm}}
                    </td>
                    <td>
                        {{waist}}
                    </td>
                    <td>
                        {{hips}}
                    </td>
             <td>  <i class="{{trend}} paper plane icon"></i></td>
                    <td>
                        {{comment}}
                    </td>
             <td>
                 <a href="dashboard/deleteAssessment/{{id}}" class="ui icon button">
                     <i class="icon trash"></i>
                 </a>
             </td>
                </tr>
            {{/each}}



</tbody>
</table>